.wrapper {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-color: #e6dddb; /* Optional: background color for the whole page */
    position: relative;
}

h1 {
  position: absolute;
  top: 10px;
  left: 620px;
  color: #333; /* Adjust the color as needed */
  text-size-adjust: 18px;
}

/* Specific dimensions for the accordion for better control */
.accordion {
    width: 500px; /* Sets a specific width for the accordion */
    box-shadow: 0 2px 8px rgba(14, 13, 13, 0.1); /* Optional: adds subtle shadow for depth */
    border-radius: 5px; /* Optional: rounds the corners of the accordion */
}

/* Styling for each item in the accordion */
.item {
    background: #8b7f75;
    margin-bottom: 5px;
    padding: 10px 20px;
    border-radius: 4px; /* Rounds the corners of each item */
    box-shadow: 0 2px 5px rgba(19, 18, 18, 0.05); /* Subtle shadow for each item */
}

/* Header of each accordion item which is clickable */
.title {
    color: #161614;
    display: flex;
    justify-content: space-between; /* Ensures title and toggle icon are spaced apart */
    align-items: center; /* Aligns title and toggle icon vertically */
    cursor: pointer; /* Changes the mouse cursor to pointer when hovering over the title */
    text-size-adjust: 18px;
}

.title h2 {
    margin: 0; 

}

.title span {
    font-size: 24px; /* Sets a specific size for the toggle icon */
    transition: transform 0.3s ease; /* Smooth transition for toggle icon rotation */
}

/* Content styling for each accordion item */
.content {
    color: #f0ebe1;
    padding: 10px 20px;
    line-height: 1.5;
    display: none; /* Initially hides the content */
    transition: max-height 0.5s ease-in-out; /* Transition for expanding and collapsing */
    font-size: 18px;
}

/* Ensures content is visible when item is active */
.item.active .content {
    display: block; /* Displays the content when the item is active */
}

/* Rotate the '+' into '−' when the accordion item is expanded */
.item.active .title span {
    transform: rotate(9deg); /* Rotates the '+' icon to create a '−' */
}
